/* Commmon Font style */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.orange_color {
    color: #FD6E0A;
}

.btn_hire {
    padding: 15px 35px;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}

/* Navigation Related Style */
h3 {
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between; /**/
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}