/* Commmon Font style */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.orange_color {
    color: #FD6E0A;
}

.btn_hire {
    padding: 15px 35px;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}

/* ______________________________Navigation Related Style */
/* _____________________________________HEader */
.main_header {
    margin: 0 auto;
    max-width: 2000px;
    /* border: 1px solid black; */
    background-color: #FFF8F3;
}

/* _________________________________Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

h3 {
    font-size: 45px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

/* ________________________________BANNER */
.banner {
    /* border: 2px solid black; */
    padding: 30px 30px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner_content {
    max-width: 900px;
}

.banner .profile_pic {
    height: 670px;
    width: 580px;
}

.banner_content .greeting {
    margin-bottom: 0;
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner_content .my_name {
    margin-top: 0;
    margin-bottom: 0;
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

p {
    margin-top: 0;
    color: #757575;
    font-size: 22px;
    font-weight: 400;
}

/* ___________________________ MAIN */
main {
    max-width: 1640px;
    margin: 0 auto;
    /* border: 2px solid black; */
}

/* ___________________________ Shared Style in main */
.section_title {
    text-align: center;
    color: #181818;
    font-size: 40px;
    font-weight: 700;
}

.sec_description {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

/* ___________________________ ABOUT */
.about {
    margin: 150px 0px;
    /* border: 2px solid black; */
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
}

.about_info_container {
    display: flex;
    justify-content: space-between;
}

.about_info {
    text-align: center;
}

.info_title {
    color: #474747;
    font-size: 20px;
}

.info_description {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* ___________________________________What i do */
#what_i_do_description {
    padding: 30px 150px;
}

.what_i_do {
    margin: 150px 0px;
    /* border: 2px solid black; */
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
}

.skills_container {
    display: flex;
    justify-content: space-evenly;
}

.skills {
    box-shadow: 0px 6px 70px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 30px;
}

/* _________________________________________RESUME */
.resume_coloum{
    padding: 20px;
    text-align: center;
}
.resume_title{
    color: #474747;
    font-size: 40px;
    font-weight: 700;
}
.resume_container{
    display: flex;
    gap: 50px;
}
.resume_container hr{
    margin: 30px;
}
.resume_item_title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume_item_institute{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}
.resume_item_des, .resume_item_institute{
    color: #757575;
}
.summary_button{
    margin-top: 50px;
    text-align: center;
}

/* __________________________________________FOOTER */

footer{
    margin-top: 100px;
    gap: 100px;
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.footer_coloum{
    text-align: left;
    margin: 0 auto;
    width: 50%;
}
.icon a{
    margin-right: 25px;
}
form input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 26px;
    color: #757575;
    border-radius: 7px;
    border: 0;
    width: 100%;
    box-shadow: 0px 6px 70px 0px rgba(0, 0, 0, 0.06);
}